@page "/createfile"

<PageTitle>Create File (Page Title)</PageTitle>

<h1>Create File</h1>


<button class="btn btn-primary" @onclick="CreateFileOnServer">Click me</button>

@code {
    int count;

    string fileName_Windows = "C:\\Users\\jbo\\Documents\\Github\\Skole\\TestOgSikkerhed\\FileDownloads\\TestFile.txt";
    string fileName_Linux = "/usr/bin/FileDownloads";
    string fileName_Initial = "";
    string fileName = "";

    private void CreateFileOnServer()
    {


        if (OperatingSystem.IsWindows())
        {
            fileName_Initial = fileName_Windows;
            fileName = fileName_Windows;
        }
        else
        if (OperatingSystem.IsLinux())
        {
            fileName_Initial = fileName_Linux;
            fileName = fileName_Linux;
        }
        else
        if (OperatingSystem.IsMacOS())
        {
            Console.WriteLine("Error: MacOS not supported.");
        }


        while (File.Exists(fileName))
{
            count++;
            fileName = Path.GetDirectoryName(fileName_Initial)
                     + Path.DirectorySeparatorChar
                     + Path.GetFileNameWithoutExtension(fileName_Initial)
                     + count.ToString()
                     + Path.GetExtension(fileName_Initial);
}

        FileInfo MyFile = new FileInfo(fileName);
        if (MyFile.Exists == false)
        {
            FileStream fs = MyFile.Create();
            fs.Close();
        }
    }

    public static class OperatingSystem
    {
        public static bool IsWindows() =>
            RuntimeInformation.IsOSPlatform(OSPlatform.Windows);

        public static bool IsLinux() =>
            RuntimeInformation.IsOSPlatform(OSPlatform.Linux);

        public static bool IsMacOS() =>
            RuntimeInformation.IsOSPlatform(OSPlatform.OSX);
    }

}

