@page "/createfile"

<PageTitle>Create File (Page Title)</PageTitle>

<h1>Create File</h1>


<button class="btn btn-primary" @onclick="CreateFileOnServer">Click me</button>

@code {
    int count;

    string fileName = "C:\\Users\\jbo\\Documents\\Github\\Skole\\TestOgSikkerhed\\FileDownloads\\TestFile.txt";

    private void CreateFileOnServer()
    {

        while (File.Exists(fileName))
{
            count++;
            fileName = Path.GetDirectoryName(fileName)
                     + Path.DirectorySeparatorChar
                     + Path.GetFileNameWithoutExtension(fileName)
                     + count.ToString()
                     + Path.GetExtension(fileName);
}

        FileInfo MyFile = new FileInfo(fileName);
        if (MyFile.Exists == false)
        {
            FileStream fs = MyFile.Create();
            fs.Close();
        }
    }
}

